


body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
        background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}









#svg-map path {
    fill:#425d33;
}

#svg-map text {
    fill: #fff;; 
    font:12px Arial-BoldMT, sans-serif; 
    cursor:pointer ;
}

#svg-map a{
    text-decoration:none;
}

#svg-map a:hover {
    cursor:pointer; 
    text-decoration:none ;
}

#svg-map a:hover path{
    fill:#eff716 !important;

}

#svg-map .circle {
    fill:#393b3a 
}

#svg-map a:hover .circle {
    fill:#a6ab71 !important;
    cursor:pointer; 
}



.container {
    text-align: center;
    padding: 1rem;
}

:root {
    --body-bg: #fafafa;
    --body-color: #555;
    --link-color: #222;
    --link-color-hover: #425d33;
}

#dark:root {
    --body-bg: #212529;
    --body-color: #899095;
    --link-color: #dee2e6;
    --link-color-hover: #3cc368;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    color: #0f160e;
}

#tela {
    display: none;
}

.regioes {
    text-align: center;
}

.estados {
    border: 1px solid #0000008a;
    outline: 1px solid #0dff0055;
    outline-offset: -9px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #0f160e;
    font-size:large;
    margin: 0vh 15vh 0vh 15vh;
}

.estados p {
    
    margin: 0vh 35vh 0vh 35vh;
}

.text {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #0f160e;
    font-size: large;
    margin: 0vh 15vh 0vh 15vh;
}

.estados h1{
    text-align: center;
    padding: 0px;
}

.norte {
    text-align: center;
}

.norte img {
    padding-bottom: 6vh;
    width: 80vh;
}

.nordeste  img {
    padding-bottom: 6vh;
    width: 80vh;
}

.centro-oeste img {
    padding-bottom: 6vh;
    width: 70vh;
}

.sudeste img {
    padding-bottom: 6vh;
    width: 80vh;
}

.sul img {
    padding-bottom: 6vh;
    width: 70vh;

}


a{
    color:#425d33;
    text-decoration: none;
}

nav {
    padding: 0.4em;
}

nav ul {
    display: flex;
    justify-content: right;
}

nav ul li {
    list-style: none;
    padding-inline: 25px;

}

nav ul li a {
    text-decoration: none;
    color: #0f160e;
    font-size: large;
    transition: 1s;
}

nav ul li a:hover {
    background-color: #425d33;
    border-radius: 2px;
    transition: 1s;
    padding-inline: 18px;
}

nav ul li span {
    padding-right: 120vh ;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #0f160e;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

#svg-map {
    padding: 13px;
}

#mostraConteudo{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonMap {
    padding: 15px;
}


footer {
    padding: 0.4em;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    list-style: none;
    padding-inline: 25px;
}

footer ul li a {
    text-decoration: none;
    color: #0f160e;
    font-size: large;
    transition: 1s;
}

footer ul li a:hover {
    background-color: #425d33;
    border-radius: 2px;
    transition: 1s;
    padding-inline: 18px;
}

